
/*
    * form {
        width: 100vw;
        height: 100vh;
        padding: 200px;
    }
    
    .navbar {
      font-size: 1.0em;
    color: #3498db;
    
    }
    img{
       
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier 
} 
*/
body {
   margin: 0;
  padding: 0;
  border: 0;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

#header {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 60px;
}




/* CSS for home page */
.home{
       margin: 0;
     padding: 0;
  border: 0;
    background-image: url("../images/img8.png");
   background-repeat: no-repeat;
    background-size: 100% 720px;  /*  */
    overflow: auto;
   
    }


div#welcome img{
    
       margin: 0 auto;
     height: 250px;
    margin-left: 550px;
    margin-top: 200px; 
    margin-bottom: 200px;
    border-radius: 5px;
     opacity: 0.80;
    filter: alpha(opacity=80);
  }
  
  div#head { margin 0;}
 
 div#head input  { margin-top: 0.5em;}

 /* div#admin{
	     margin: 0 auto;
    margin-left: 0em;
   float: left;
    padding: 10px;
  }

   */
  div#head input#admin{ float: left;}

div#choice{
    margin: 0 auto;
    margin-right: 1em;
	margin-left: 1em;
   float: right;
    padding: 10px;
   
    
   /* padding: 10px;
     margin-left: 245px; 
    float: left;*/
 }

.quote{display: none;}


/* CSS for sign-in page */

.signup{
    width: 100vw;
    height: 100vh;
    margin: 0;
  padding: 0;
  border: 0;
    background-image: url("../images/img9.png");
    background-repeat: no-repeat;
    background-size: 100% 720px; 
    overflow: hidden;
  
    }



div#sign {
   /*width: 40em;
    height: auto; */
    text-align: center;
    background-color: #34495E ;
    border-radius: 5px;
    margin-top: 70px;
    margin-bottom: 100px;
    margin-right: 450px;
    margin-left: 500px;
    opacity: 0.95;
    filter: alpha(opacity=95);
   /* overflow-y: auto;*/
    z-index: 5;

}
 .regform{display: none;}  
.img{}
.signup img#img{
  margin-top: -7em;
  margin-bottom: -2.5em;
 /* position: fixed;
    z-index: 2; 
    margin-left: 4.0em;
    margin-right: 4.0em;
      margin-top: 5em;
    */
  height: 9em;
    width: 9em;
    border-radius: 5px;
}


form span {
   color:antiquewhite;
  font: italic 14px cosmic sans; 
    margin-top: -55px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: -35px;
    padding: -10px;
   
    /*align-self: center; */
    /*margin-top: -5em; font: italic 13px cosmic sans; height:auto; */
       
  }

form#sign{
     margin-top: 1em;
    /*margin-top: 1.5em; */
    margin-bottom: -15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    overflow: hidden;
  
}

.form-control{
    margin-bottom: 5px;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 10px;
    padding: 10px;
      
 }

/*
form#sign fieldset .form-control{ float: left; clear: left;}
form#sign fieldset i{ float: left; }
form#sign fieldset .err{ float: left; }
*/
.form-group {
     margin-left: -30px;
    margin-right: 10px;
    margin-top: -10px;
    margin-bottom: -10px;

}

form i{
    margin-left: 0px;
    margin-right: -40px;
    float: left;
    clear: left;
}

form#sign input.btn{ margin-top: -10px;   margin-bottom: 20px; }

form#sign input#submit{margin-left: 10em; margin-right: -8em;}
form#sign input#clear{margin-left: -6em; margin-right: 10em;}

div#accept{text-align: justify; color: aliceblue; font: italic 13px cosmic sans; float: left; margin-top: -0.3em; margin-bottom: 0.5em; margin-left: -2em; margin-right: -5em; }
div#accept a{ color: aliceblue; text-decoration: underline;}


div#sign img{
     margin: 0 auto;
 margin-left: 400px;
 height: 140px;
    
   /* width: 150px;
    height: 150px; */
    margin-top: -320px; 
    margin-bottom: -200px;
     margin-right: 50px;
    margin-left: 50px;
    border-radius: 5px;
  /*  position: fixed;
    z-index: 2; */ 
     
    /*opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
    
}


/* Services Form for Registration */


.next{
    width: 100vw;
    height: 100vh;
    margin: 0;
  padding: 0;
  border: 0;
    background-image: url("../images/img9.png");
    background-repeat: no-repeat;
    background-size: 100% 720px; 
    overflow: hidden;
    }


div#next {
    width: 400px;
    height: 550px;
    text-align: center;
    background-color: #34495E ;
    border-radius: 5px;
    margin-top: 70px;
    margin-bottom: 100px;
    margin-right: 450px;
    margin-left: 500px;
    opacity: 0.95;
    filter: alpha(opacity=95);
    
}

form#form2{
     margin-top: 80px;
    margin-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px; 
    float: center;
    padding: 30px;
    color: aliceblue;

}


div#next img{
     margin: 0 auto;
 margin-left: 400px;
 height: 150px;
    
   /* width: 150px;
    height: 150px; */
    margin-top: -200px; 
    margin-bottom: -200px;
     margin-right: 50px;
    margin-left: 50px;
    border-radius: 5px;
     
    /*opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
    
}


/* Checkboxes */

form#form2 label {
    float: left;
    margin-left: -3em;
    margin-bottom: -0.5em;
    clear: right;
}

  form h5{ margin-left: 0;margin-right: -5em;display: flex; font: italic 15px cosmic sans;}


.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: 0.7em;
    margin-top: 0.2em
}



.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}



.checkbox label input[type="checkbox"] /*,
.radio label input[type="radio"] */ {
    display: none;
}


.checkbox label input[type="checkbox"] + .cr > .cr-icon /*,
.radio label input[type="radio"] + .cr > .cr-icon*/  {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon /*,
.radio label input[type="radio"]:checked + .cr > .cr-icon */ {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr /*,
.radio label input[type="radio"]:disabled + .cr */ {
    opacity: .5;
}





/* CSS for Login Page */

.login{
    width: 100vw;
    height: 100vh;
    margin: 0;
  padding: 0;
  border: 0;
    background-image: url("../images/img9.png");
    background-repeat: no-repeat; 
   background-size: 100% 720px; 
    overflow: hidden;
    }
/*
div#choice2{
    margin: 0 auto;
   padding: 10px;
    padding-left: 10px;
    margin-left: 245px; 
    float: right; 
 }
*/

.log{
float: left;
clear: right;
      margin-top: 150px;
   
}

.textadmin{  margin-left: 1.5em;}
.textadmin h3{
	font: italic bold 28px cosmic sans;
	color: red;
}

.log span{}

.textadmin input#navadmin{
	float: left;  clear: right; margin-left: 0em; }
	
div#log {
    width: 330px; 
    /*height: 340px; */
    text-align: center;
    background-color: #34495E ;
    border-radius: 5px;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-right: 450px;
    margin-left: 500px;
    opacity: 0.95;
    filter: alpha(opacity=95);
    
}

/*
form#log{
     margin-top: 20px;
    margin-bottom: -15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
  
}
*/


form#log{
     margin-top: 5em;
    margin-bottom: 0.5em;
    padding: 1.25em;    
   
}


div#log img{
    width: 150px;
    height: 150px;
    margin-top: -90px;
    margin-bottom: -70px;
     margin-right: 50px;
    margin-left: 50px;
    border-radius: 5px;
     
    /*opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
    
}


div#msg { margin-top: -3em;  margin-left: 1em; margin-right: -2.2em; margin-bottom: 2em; font-size:13px; font-family:verdana; color:#fff; border-color: red; border-radius: 5px/5px; border-style: solid; display: none;}
div#msg1 { margin-top: -3em;  margin-left: 1em; margin-right: -2.2em; margin-bottom: 2em; font-size:13px; font-family:verdana; color:#fff; border-color: red; border-radius: 5px/5px; border-style: solid; display: none;}


div#log .form-control {
   
}

input.btn {
    margin-bottom: 30px;
    margin-left: 20px;
    float: right;

}

div#text a{
    color: white;
    margin-left: 1em;
    font: italic 14px cosmic sans;
    float: left;
    clear: left;
}

div#log select{font: normal bold 15px cosmic sans; padding: 0.5em; margin-left: 1.8em; margin-bottom: 3em;}



/*Responsive */








/*reponsive.................................................................................................................................. */

@media only screen
and (min-width : 1025px) { /* Desktop */
.pc{display:inherit!important;} .tb{display:none!important;} .lg{display:inherit!important;} .mb{display:none!important;}
.pc{display:inherit!important;}
.nopc{display:none!important;}
/*.body{width:600px!important; max-width:600px!important; height:100%;  margin:0 auto;}
.bar{width:600px!important; max-width:600px!important;   margin:0 auto;}
.max {max-width:500px;} */
/*forms */

}
/*......................desktop ends..................*/
/*.......................mobile.....................*/
@media only screen
and (min-device-width : 320px) 

and (max-device-width : 480px) {/*mobile*/
/*.col-xs{margin:0px;}*/
.mb{display:none!important;} .tb{display:none!important;} .lg{display:none!important;} .pc{display:none!important;} .pconly{display:none;}
.mb{display:inherit!important;}
.nomb{display:none!important;}
  
html{width:100%; height:100%; padding:0; margin:0; overflow-x:hidden; font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
    
body{font-size:11px; background-color:#eaeaea; width:100%; max-height:100%; margin:0px; height: 100%; margin: 0;  padding: 0; border: 0;}    
body[orient="portrait"] { min-height:540px; }
body[orient="landscape"] { min-height:400px; }

.home {width: 100vw; height: 100vh; margin: 0; padding: 0; border: 0;background-position:center; background-image: url("../images/Riwama.png"); background-repeat: no-repeat; background-size: 100% 360px; overflow: hidden; }
    div#welcome img {display:none;}
 
div#welcome{background-color: transparent; background-position: center; max-height: 100%; margin-top:7em; margin-left: 1em; margin-right: 1em; margin-bottom: 3em;}
.quote{margin-top: 90vh; display: block; background-position: center; font: italic bold 14px cosmic sans; color:steelblue;align-self: center;} 

/* Sign Up Form For Mobile */
   
 .signup{background-image: none;background-color: #34495E; margin-left: 0px; width: 100vw; height: 100vh; margin: 0; padding: 0; border: 0;}
    .signup header { margin-top: }
.signup input#altlog{margin-top: 1em; }
  .signup input#admin{ margin-top: 1em; }
div#sign{display:block; padding: 0; border: 0;background-position:center; text-align: center;background-color: #34495E; margin-top: 2.3em;}
div#sign img#img{display:none;}
.regform{display: flex; color: aliceblue; margin-top: -4em; margin-bottom: -6em; font: normal bold 13px; margin-left: 3.5em; border-radius: 1em; }
    .regform >a{ color: aliceblue;}
    form#sign { margin-top: 0em; margin-bottom: 2em;}
form#sign .err{margin-top: -5em; margin-bottom: 10em; font: italic 13px cosmic sans;}
 .regbut{margin-top:1.5em;}
form#sign input#clear{margin-left:7em; margin-right: 8em;margin-top: 0em;}
form#sign input#submit{margin-left: 10em; margin-right: 0em; margin-top: -3.9em;}
    
    form#sign div#accept{display: none;}
	
    
    /* Services Form For Mobile */

    .next{background-image: none;background-color: #34495E; margin-left: 0em; width: 100vw; height: 100vh; margin: 0; padding: 0; border: 0;}
    div#next{display: block; margin-left: 0em; width: 100vw; height: 100vh; margin: 0; padding: 0; border: 0;}
  div#next img{ margin-top: -2.5em; margin-bottom: -10em; height: 5em; width: 5em;}
    form#form2{margin-top:5em; margin-left: 1em;}
    form#form2 h5{margin-top: 2.1em; margin-left: 0;margin-right:0;;display: flex; font: italic 15px cosmic sans;}
   div#next .done input{ background-color: red; float: right;}
    
    
/*  Login For Mobile */ /*
    
.login {background-image: none; background-color: #34495E;}
div#log{display: block; background:#34495E; margin-left: 0px; width: 100vw; height: 100vh; margin: 0; padding: 0; border: 0; }
    div#log img{height: 10em; width: 10em; margin-top: 2em; margin-bottom: -0.5em;}
    
 
  
    form#log { margin-top: 2em;}
    input#altreg { margin-right: -2em;} 

    
    */

    
/*  Login For Mobile */
    
.login {background-image: none; background-color: #34495E;}
  .login #altreg{margin-right: 1.5em;} 
div#log{display: block; background:#34495E; margin-left: 0px; width: 100vw; height: 100vh; margin-top:5em; padding: 0; border: 0; }
div#log >a{margin-top: 10em;}
div#log img{height: 10em; width: 10em; margin-top: 15em; margin-bottom: -0.5em;}
.log .textadmin{display:none;}
    form#log { margin-top: 2em; margin-left: 2em;}
    form#log select{margin-left: 2em;display: flex;}
    input#altreg { margin-right: -2em;}
    div#select {margin-left:inherit;}
    

    
    

}

/*@media only screen and (min-device-width : 320px) */
@media screen and (max-width:480px){
    /*.col-xs{margin:0px;}*/
.mb{display:none!important;} .tb{display:none!important;} .lg{display:none!important;} .pc{display:none!important;} .pconly{display:none;}
.mb{display:inherit!important;}
.nomb{display:none!important;}
  
html{width:100%; height:100%; padding:0; margin:0; overflow-x:hidden; font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
    
body{font-size:11px; background-color:#eaeaea; width:100%; max-height:100%; margin:0px; height: 100%; margin: 0;  padding: 0; border: 0;}    
body[orient="portrait"] { min-height:540px; }
body[orient="landscape"] { min-height:400px; }

.home {width: 100vw; height: 100vh; margin: 0; padding: 0; border: 0;background-position:center; background-image: url("../images/Riwama.png"); background-repeat: no-repeat; background-size: 100% 360px; overflow: hidden; }
    div#welcome img {display:none;}
 
div#welcome{background-color: transparent; background-position: center; max-height: 100%; margin-top:7em; margin-left: 1em; margin-right: 1em; margin-bottom: 3em;}
  
.quote{margin-top: 90vh; display: block; text-align: center; font: italic bold 14px cosmic sans; color:steelblue;align-self: center;} 

/* Sign Up Form For Mobile */
    
 .signup{background-image: none;background-color: #34495E; margin-left: 0px; width: 100vw; height: 100vh; margin: 0; padding: 0; border: 0;}
  header input#altlog{margin-top: 0.3em;margin-bottom: -0.5em;}
div#sign{display:block; background-color:#34495E; margin-left: 0px; width: 100vw; height: 100vh; margin: 0; padding: 0; border: 0;background-position:center; text-align: center; margin-top: 9em;}
div#sign img{height: 9em; width: 9em; margin-top: -1.5em; margin-bottom: -1.5em;}
/*.regform{display: flex; color: aliceblue; margin-top: -3em; margin-bottom: 2em;font:normal bold 13px; margin-left: 0.5em; height: 1.8em; }
    .regform >a{ color: aliceblue;} */
form#sign span{margin-top: -3.5em; margin-bottom: 2em;padding: 2em; font: italic 14px cosmic sans;}
.form-group{padding: 0.3em;} 

 
 form#sign .regbut{margin-top: 0.5em;}
form#sign input#clear{margin-left:7em; margin-right: 8em;margin-top: -1em;}
form#sign input#submit{margin-left: 10em; margin-right: 0em; margin-top: -3.9em;}
      div#accept .cr{ height: 0.5em; width: 0.5em; background-color: fuchsia; float: left; display: none;}
      div#accept { font: italic 12px cosmic sans; margin: 0; margin-bottom: 2em;}
    
   
/* Services For Mobile */
    
    
    .next{background-image: none;background-color: #34495E;}
    div#next{display: block; margin-left: 0em; width: 100vw; height: 100vh; margin: 0; padding: 0; border: 0;}
    div#next img{height: 10em;width: 10em; margin-top: 3em;}
    form h5{margin-top: 6em; margin-left: 0;margin-right: 0;display: flex; font: italic 15px cosmic sans;}
    .checkbox{padding: -1em; font: normal 14px cosmic sans; margin-bottom: -1em;display: flex;}
    
/*  Login For Mobile */
    
.login {background-image: none; background-color: #34495E;}
div#log{display: block; background:#34495E; margin-left: 0px; width: 100vw; height: 100vh; margin: 0; padding: 0; border: 0; }
    div#log img{height: 10em; width: 10em; margin-top: 5em; margin-bottom: -0.5em;}

    form#log { margin-top: 2em; margin-left: 0em;}
    form#log select{margin-left: 2em;display: flex;}
    input#altreg { margin-right: -2em;}
    div#select {margin-left:inherit;}
    
}


/*...............mobile ends..........................*/
/*................................tabs......................*/
@media only screen
and (min-device-width : 481px) 
and (max-device-width : 1024px){ /* Tablet */
.tb{display:inherit!important;} .tb{display:inherit!important;} .lg{display:none!important;} .pc{display:none!important;} .pconly{display:none;} .mb{display:none!important;}
.tb{display:inherit!important;}
.leftbar{width:25%;} .body{width:75%; margin-left:25%;}
.notb{display:none!important;}
.body{width:600px; height:100%; height:100%; min-height:800px; max-width:600px; margin:0 auto;}
.bar{width:600px!important; max-width:600px!important;   margin:0 auto;}
.max {width:100%; max-width:500px;}
}
/*.................tabs end.......................*/
/*.....................large screens..............*/
@media only screen
and (min-width : 1824px) {/*largescreens*/
html{width:100%; background:#d2d2d2;}
/*body{margin:auto 0px; max-width:1025px;}*/
.pc{display:inherit!important;} .tb{display:none!important;} .lg{display:inherit!important;} .mb{display:none!important;}
.pc{display:inherit!important;}
.body{width:600px!important;  max-width:600px!important; height:100%;  min-height:600px; margin:0 auto;}
.bar{width:600px!important; max-width:600px!important;   margin:0 auto;}
.max {max-width:500px;}
}
/*....................largescreen ends................*/

/* responsive ....................ends........................................*/




